*{
	margin: 0%;
}

body{
	/* background-color: rgba(219, 197, 99, 0.514); */
	background-image: url(./media/img1.jpg) ;
	/* background-repeat: no-repeat; */
	
}

.page1{
	background-color: rgba(0, 0, 0, 0.661);
	width: 100vw; 
	 height: 100vh;
	 /* background-color: rgb(243, 50, 50); */
	/* background-image: url(./media/bg4.jpg); */
	/* background-position: 100%; */
	/* z-index: 3; */
	visibility: visible;
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	color: white;

	
}

#textContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 50vh;
	/* border: 2px solid white; */
  }
  
  
  #text {
	opacity: 0;
	font-size: 45px;
	font-weight: bold;
	color: wheat;
	animation: textAnimation 2s ease-in-out forwards;
  }
  #loadBtn{
	margin: 5vh;
	border-radius: 30%;
	width: 150px;
	height: 55px;
  }
 #a1{
	/* margin-bottom: 25px; */
	/* margin-top: 50vh; */
	font-size: 25px;
	font-weight: bold;
	color: rgb(253, 253, 247);
	/* justify-content: center;
	align-items: center;
	align-content: center; */
  }
  
  @keyframes textAnimation {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
/* .page1 h1{
	margin-top: 50%;
} */

#a2{
	font-size: 25px;
	font-weight: bold;
	color: rgb(253, 253, 247);
	/* width: 100px; */
	
	top: 30px;
	left: 90vw;
	/* z-index: 7; */

	/* line-height: 10px; */
}
/* page2 */

@media only screen and (min-width: 600px){
	body{
		background-color: rgb(201, 130, 130);
	}
	
}


/* page 3 	*/

.page3{
	width: 100vw; 
	color: antiquewhite;
	 /* height: 100vh; */
	 background-color: rgba(11, 11, 11, 0.645);
	/* background-image: url(./media/bg4.jpg); */
	/* background-position: 100%; */
	/* z-index: 8; */
    visibility: collapse;
	/* visibility: hidden; */
	z-index: -1;
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	border: 5 px solid white;

	
}
.header{
	width: 100vw;
	height: 6vh;
	padding-left: 25vw;
	padding-top: 1vh;
	background-color: rgba(13, 14, 14, 0.887);
	position: fixed;
	border-radius: 7vw;
	top: 0vh;
}
table {
	/* padding: 2px; */
	/* margin-top: 200px; */
	/* border-collapse: collapse; */
	width: 100%;
	border-color: aliceblue;
	margin-bottom: 7vh;
	margin-top: 7vh;
	
  }
  
  th, td {
	border: 2px solid black;
	padding: 8px;
	text-align: left;
	font-size: 15px;
	color: wheat;
  }
  
  th {
	background-color: rgba(17, 16, 16, 0.678);
  }
  
 .tbody button {
	background-color: rgb(67, 67, 215);
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
  }
 #pBtn{
	background-color: rgb(206, 206, 69);
 } 
 input{
	border-radius: 20%;
	height: 5vh;
 }
 .floating_bar{
	width: 100vw;
	height: 7vh;
	background-color: rgb(13, 14, 14);
	/* position: sticky; */
	/* margin-bottom: 90vh; */
	position: fixed;
	/* padding-top: 50px; */
	top: 93vh;
	/* z-index: 90; */

 }
 .card-button{
	width: fit-content;
	height: 5vh;
	margin-left: 5vw;
	/* margin-top: 1vh; */
	background-color: rgba(6, 6, 6, 0.447);
	color: rgba(255, 255, 255, 0.757);
	border-radius: 40%;
 }
