body{
	background-color: rgba(219, 197, 99, 0.514);
}

.card {
	background-color: rgba(255, 0, 21, 0.411);
	width: 60vw;
	height: 60vh;
	border: 2px solid rgb(24, 23, 23);
	border-radius: 10px;
	overflow: hidden;
	margin: 16vh 18vw;
	/* margin: 100px 500px; */
	display: inline-bloc1;
	border-radius: 20%;
  }
  .card-data{
	display: flex;
	flex-direction: column;		
	
  }
  
  .cardData{
	padding: 2px 2px;
	border: 1px solid black;
	width: 90%;
	height: 3vh;
	margin: 0.5vh ;
	margin-left: 2vw;
  }
  .card img {
	/* border: 1px solid red; */
	width: 50%;
	margin-left: 25%;
	margin-top: 3%;
	height: 30%;
	object-fit: cover;
  }
  
  .card-content {
	padding: 20px;
	text-align: center;
  }
  
  button {
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: rgb(12, 11, 11);
	cursor: pointer;
	margin: 1vh ;
	background-color: yellow;
  }